# (PR4-3) Datawarehouse

The tasks

In [19]:
#Bouw voort op je uitwerking van het vorige practicum:

#1 Maak een database in SSMS, dit wordt je uiteindelijke Data Warehouse.
#Helemaal goed.

#2 Maak een ETL-schema van elke tabel in het Sterschema.
#Dit kan in het document worden gevonden.

#3 Implementeer elk gemaakt ETL-schema in Python (met Jupyter Notebook). Gebruik hierbij de technische informatie uit week 2.
#Helemaal goed.

#4 Zorg er ten slotte voor dat je het Sterschema en elk ETL-schema aan je portfolio hebt toegevoegd. Hier word je in week 6 op beoordeeld.
#Dit kan in het document worden gevonden.

## DWH imports

Import the necassery modules.

In [20]:
import pyodbc as sql_server
from dotenv import dotenv_values as values
import pandas as pd
import sqlite3 as sql
import warnings as warn
warn.simplefilter("ignore")

## Connection to SQL Server

Load the values from the .env.local file.

In [21]:
env: dict[str, str | None] = values(".env.local")

conn_str: any = (
    "DRIVER={SQL Server};Server=" + env["SERVER"] + 
    ";Database=" + env["DATABASE"] + 
    ";User ID=" + env["USERNAME"] + 
    ";Password=" + env["PASSWORD"] + 
    "trusted_connection=yes;"
)

try:
    conn = sql_server.connect(conn_str)
    print(f"Succesfully established connection to the server: {conn}")

except sql_server.Error as err:
    print(f"Error while connecting to the server: {err.args[1]}")
    raise

Succesfully established connection to the server: <pyodbc.Connection object at 0x000001B376F42660>

## Read the GO Databases/CSV's

Read the original datasources.

In [22]:
conn_db1 = sql.connect("Great_Outdoors_Data_SQLite/go_crm.sqlite")
conn_db2 = sql.connect("Great_Outdoors_Data_SQLite/go_sales.sqlite")
conn_db3 = sql.connect("Great_Outdoors_Data_SQLite/go_staff.sqlite")

go_csv: list[str] = ["GO_SALES_INVENTORY_LEVELSData", "GO_SALES_PRODUCT_FORECASTData"]
conn_csv = [pd.read_csv("Great_Outdoors_Data_SQLite/" + csv + ".csv") for csv in go_csv]

## Read the original GO Databases

Read the original db sources

In [23]:
cursor1 = conn_db1.cursor()
cursor2 = conn_db2.cursor()
cursor3 = conn_db3.cursor()

cursors = [cursor1, cursor2, cursor3]
conns = [conn_db1, conn_db2, conn_db3]

for cursor, _ in zip(cursors, conns):
    datas = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()

    for data in datas:
        dfs = cursor.execute(f"SELECT * FROM {data[0]}").fetchall()
        columns = [column[0] for column in cursor.description]
        df = pd.DataFrame(dfs, columns=columns)
        df = df[df.columns.drop(list(df.filter(regex="TRIAL")))]
        print(df)

    cursor.close()

  AGE_GROUP_CODE UPPER_AGE LOWER_AGE
0              1        20         0
1              2        30        21
2              3        40        31
3              4        50        41
4              5        60        51
5              6        70        61
   COUNTRY_CODE      COUNTRY_EN FLAG_IMAGE SALES_TERRITORY_CODE
0             1          France        F01                    6
1            10          Sweden        F10                    5
2            11           Japan        F11                    4
3            12          Taiwan        F12                    4
4            13           Korea        F13                    4
5            14           China        F14                    4
6            16       Australia        F15                    4
7            17         Belgium        F16                    6
8            18         Denmark        F17                    5
9            19           Spain        F18                    7
10            2         Germany        F02                    6
11           20          Mexico        F19                    1
12           21          Brazil        F20                    1
13           22         Finland        F21                    5
14            3   United States        F03                    1
15            4          Canada        F04                    1
16            5         Austria        F05                    7
17            6           Italy        F06                    7
18            7     Netherlands        F07                    5
19            8     Switzerland        F08                    6
20            9  United Kingdom        F09                    6
    RETAILER_CODE RETAILER_CODEMR                COMPANY_NAME  \
0               1            None                   ActiForme
1             100              70                Golf Masters
2             101              71             The Marketplace
3             102              72    Camping Equipment Online
4             103              73  Tamarack Outfitter Rentals
..            ...             ...                         ...
104            95               5           Falcon Outfitters
105            96               6              Maximum Sports
106            97               7            Act'N'Up Fitness
107            98            None       Advanced Climbing Ltd
108            99              69          Outdoor Gear Co-op

    RETAILER_TYPE_CODE
0                    5
1                    1
2                    2
3                    3
4                    5
..                 ...
104                  6
105                  8
106                  4
107                  5
108                  4

[109 rows x 4 columns]
    RETAILER_CONTACT_CODE RETAILER_SITE_CODE FIRST_NAME LAST_NAME  \
0                      10                 14      Frank     Smith
1                     100                 85     Amanda     Yates
2                     101                 84      Paula   Schmidt
3                     102                 88    Micheal       Tao
4                     103                 92       Jack    Murphy
..                    ...                ...        ...       ...
386                    95                 87   Jennifer     Gomes
387                    96                 91    Timothy      Moon
388                    97                 90       Paul   Fischer
389                    98                 89      Derek    Wilkes
390                    99                 86      Sarah   Klausen

            JOB_POSITION_EN EXTENSION               FAX  \
0           Chief Purchaser      2489  1 (514) 741-1610
1             Stock Manager      None  1 (702) 369-2274
2       Assistant Purchaser      None  1 (702) 882-0978
3          District Manager       445  1 (713) 524-3215
4          District Manager      None  1 (305) 557-5478
..                      ...       ...               ...
386            Site Manager      None  1 (423) 266-4721
387  Site Assistant Manager      None  1 (304) 343-4560
388           Stock Manager      None  1 (206) 362-6645
389  Site Assistant Manager      None  1 (703) 549-4896
390        District Manager      None  1 (405) 946-4321

                        E_MAIL GENDER
0      FSmith@legolfeurinc.com      M
1            Y2883@emertxe.com      F
2            S8832@emertxe.com      F
3            T8839@emertxe.com      M
4    Murphy@eyedimensions3.com      M
..                         ...    ...
386          G1289@emertxe.com      F
387          M0019@emertxe.com      M
388          F9943@emertxe.com      M
389          W3219@emertxe.com      M
390          K1293@emertxe.com      F

[391 rows x 9 columns]
    RETAILER_CODEMR                                  RETAILER_NAME  \
0                 1                                    Rock Steady
1                10                         Excellence en Montagne
2                11                               Vacation Central
3                12                            Outdoor Central Ltd
4                13                            Precipice Equipment
..              ...                                            ...
409               9                            Over the Top Cycles
410              90                              Weston Outfitters
411              91  Artículos de Campismo El Aquila, S.A. de C.V.
412              92                Todo para el Golf, S.A. de C.V.
413              93                       MER-KA-DOS, S.A. de C.V.

                          ADDRESS1    ADDRESS2              CITY  \
0                  45, rue Atwater        None          Montréal
1                160, rue Moureaux  Bureau 410   Ville de Québec
2           3000, 58 Merivale Road        None            Ottawa
3    Suite 23, 180 McKercher Drive        None            Regina
4                 23 Blackcomb Way        None          Whistler
..                             ...         ...               ...
409                23 Nowlan Drive        None           Moncton
410            738 Greyling Street        None         San Diego
411      Avda. Chapultepec 246-303    Virreyes  Distrito Federal
412       Francisco Munguía No. 45   Atahualpa          Monterey
413            Río Rhin 56, Piso 6  Cuauhtemoc  Distrito Federal

               REGION POSTAL_ZONE COUNTRY_CODE             PHONE  \
0              Québec     H2T 9K8            4  1 (514) 747-4481
1              Québec     G1B 3L5            4  1 (418) 653-6456
2             Ontario     K0T 9R0            4  1 (613) 736-6443
3        Saskatchewan     S6J 3G0            4  1 (306) 243-8764
4    British Columbia     V6T 1Y8            4  1 (604) 938-7564
..                ...         ...          ...               ...
409     New Brunswick     E1A 2A7            4  1 (506) 849-8756
410        California       92129            3  1 (619) 223-1235
411            México       06700           20   +(525) 684 7127
412        Nuevo León       30530           20   +(528) 366 6773
413            México       06500           20   +(525) 645 9288

                  FAX SEGMENT_CODE
0    1 (514) 741-2277            2
1    1 (418) 653-2311            2
2    1 (613) 736-5593            6
3    1 (306) 243-5213            2
4    1 (604) 938-2324            1
..                ...          ...
409  1 (506) 849-6432            7
410  1 (619) 223-1245            2
411   +(525) 684 7119            2
412   +(528) 366 6717            3
413   +(525) 645 9200            5

[414 rows x 11 columns]
   SEGMENT_CODE LANGUAGE                  SEGMENT_NAME  \
0             1       EN     Outdoors Shop - Exclusive
1            10       EN                 Eyewear Store
2            11       EN      Sports Store - Exclusive
3            12       EN                  Sports Store
4             2       EN                 Outdoors Shop
5             3       EN                     Golf Shop
6             4       EN  Department Store - Exclusive
7             5       EN              Department Store
8             6       EN  Direct Marketing - Exclusive
9             7       EN              Direct Marketing
10            8       EN               Warehouse Store
11            9       EN        Equipment Rental Store

                                  SEGMENT_DESCRIPTION
0   Primarily offers camping supplies, hiking equi...
1   Primarily offers prescription and fashion eyew...
2   Primarily offers a wide range of sporting good...
3    Primarily offers a wide range of sporting goods.
4   Primarily offers camping supplies, hiking equi...
5    Primarily offers golf equipment and accessories.
6   Offers a wide range of goods.  Concentrates on...
7                       Offers a wide range of goods.
8   Offers a wide range of goods through mail orde...
9   Offers a wide range of goods through mail orde...
10  Offers a wide range of goods in a large wareho...
11  Offers various sports and outdoors equipment f...
    RETAILER_SITE_CODE RETAILER_CODE                          ADDRESS1  \
0                    1            89                1117 Franklin Blvd
1                   10            92  Suite 1500, 802 Docklands Street
2                  100            95                    4830 Princeton
3                  101            95                  6630 Burnet Road
4                  102           108              2189 Louisville Road
..                 ...           ...                               ...
386                 95           106                  932 Ohmey Avenue
387                 96           106                   438 Kelson Road
388                 97           106                3410 Selson Avenue
389                 98           106                 73 Stanley Avenue
390                 99           106                 37 Raleigh Avenue

    ADDRESS2           CITY            REGION POSTAL_ZONE COUNTRY_CODE  \
0       None       Winnipeg          Manitoba     R2C 0M5            4
1       None      Vancouver  British Columbia     V6E 3Z3            4
2     Unit 2    Albuquerque        New Mexico       87186            3
3       None         Austin             Texas       78769            3
4       None   Independence          Kentucky       41051            3
..       ...            ...               ...         ...          ...
386     None    Los Angeles        California       90211            3
387     None    Los Angeles        California       90203            3
388     None      San Diego        California       92132            3
389     None  San Francisco        California       94135            3
390     None  San Francisco        California       94129            3

    ACTIVE_INDICATOR
0                  1
1                  1
2                  1
3                  1
4                  0
..               ...
386                1
387                1
388                1
389                1
390                1

[391 rows x 9 columns]
  RETAILER_TYPE_CODE        RETAILER_TYPE_EN
0                  1               Golf Shop
1                  2        Department Store
2                  3        Direct Marketing
3                  4         Warehouse Store
4                  5  Equipment Rental Store
5                  6           Outdoors Shop
6                  7           Eyewear Store
7                  8            Sports Store
     DEMOGRAPHIC_CODE RETAILER_CODEMR AGE_GROUP_CODE SALES_PERCENT
0                   1               1              1            52
1                  10               2              4            16
2                 100              17              4            11
3                1000             164              3             6
4                1001             164              4             9
...               ...             ...            ...           ...
2479              995             143              4             4
2480              996             143              5             5
2481              997             143              6             3
2482              998             164              1            32
2483              999             164              2            37

[2484 rows x 4 columns]
  SALES_TERRITORY_CODE TERRITORY_NAME_EN
0                    1          Americas
1                    4      Asia Pacific
2                    5   Northern Europe
3                    6    Central Europe
4                    7   Southern Europe
   COUNTRY_CODE         COUNTRY LANGUAGE CURRENCY_NAME
0             1          France       EN        francs
1            10          Sweden       EN         krona
2            11           Japan       EN           yen
3            12          Taiwan       EN    new dollar
4            13           Korea       EN           won
5            14           China       EN      renminbi
6            16       Australia       EN       dollars
7            17         Belgium       EN        francs
8            18         Denmark       EN        kroner
9            19           Spain       EN       pesetas
10            2         Germany       EN         marks
11           20          Mexico       EN         pesos
12           21          Brazil       EN         reals
13           22         Finland       EN        markka
14            3   United States       EN       dollars
15            4          Canada       EN       dollars
16            5         Austria       EN    schillings
17            6           Italy       EN          lira
18            7     Netherlands       EN      guilders
19            8     Switzerland       EN        francs
20            9  United Kingdom       EN        pounds
      ORDER_DETAIL_CODE ORDER_NUMBER PRODUCT_NUMBER  QUANTITY UNIT_COST  \
0                100000         8462             96        16      16.1
1                100001         9111             96        20      16.1
2                100002         8451             96        24      16.1
3                100003         8453             96        18      16.1
4                100004         8439             96        20      16.1
...                 ...          ...            ...       ...       ...
43058             99995         8459             95       146      2.76
43059             99996         8457             95       172      2.76
43060             99997         9267             95       192      2.76
43061             99998         8441             95       192      2.76
43062             99999         8440             96        22      16.1

      UNIT_PRICE UNIT_SALE_PRICE
0          22.54           22.54
1          22.54           22.54
2          22.54           22.54
3          22.54           22.54
4          22.54           22.54
...          ...             ...
43058       5.55            5.55
43059       5.55            5.55
43060       5.55            5.55
43061       5.55            5.55
43062      22.54           22.54

[43063 rows x 7 columns]
     ORDER_NUMBER RETAILER_NAME RETAILER_SITE_CODE RETAILER_CONTACT_CODE  \
0            1153  Ultra Sports                  4                     6
1            1154  Ultra Sports                  4                     6
2            1155  Ultra Sports                  5                    65
3            1156  Ultra Sports                  5                    65
4            1157  Ultra Sports                  6                    66
...           ...           ...                ...                   ...
5355         9475  Preben's T°y                338                   329
5356         9476  Preben's T°y                336                   327
5357         9477  Preben's T°y                338                   329
5358         9478  Preben's T°y                336                   327
5359         9479  Preben's T°y                338                   329

     SALES_STAFF_CODE SALES_BRANCH_CODE  ORDER_DATE ORDER_METHOD_CODE
0                  50                18  2020-04-14                 7
1                  50                18  2020-10-01                 4
2                  49                18  2020-04-21                 7
3                  49                18  2020-09-09                 5
4                  50                18  2020-04-10                 2
...               ...               ...         ...               ...
5355               29                15  2020-01-13                 4
5356               29                15  2021-01-02                 5
5357               29                15  2021-01-18                 2
5358               27                15  2022-01-15                 7
5359               27                15  2022-02-02                 5

[5360 rows x 8 columns]
  ORDER_METHOD_CODE ORDER_METHOD_EN
0                 1             Fax
1                 2       Telephone
2                 3            Mail
3                 4          E-mail
4                 5             Web
5                 7     Sales visit
6                 8         Special
    PRODUCT_NUMBER INTRODUCTION_DATE PRODUCT_TYPE_CODE PRODUCTION_COST MARGIN  \
0                1         15-2-2011                 1               4    .33
1               10         15-2-2011                 1              10     .4
2              100         15-2-2011                17               3     .5
3              101        15-12-2019                18          305.54    .43
4              102        10-12-2019                18          380.95    .51
..             ...               ...               ...             ...    ...
110             95         15-2-2011                16               3     .5
111             96         15-2-2011                17           16.43    .28
112             97          5-3-2013                17              25    .28
113             98         15-2-2011                17               3     .5
114             99         15-2-2011                17               2     .6

       PRODUCT_IMAGE LANGUAGE              PRODUCT_NAME  \
0      P01CE1CG1.jpg       EN       TrailChef Water Bag
1      P10CE1CG1.jpg       EN        TrailChef Utensils
2    P100OP4FA17.jpg       EN        Insect Bite Relief
3    P101GE5IR18.jpg       EN     Hailstorm Steel Irons
4    P102GE5IR18.jpg       EN  Hailstorm Titanium Irons
..               ...      ...                       ...
110   P91OP4SS16.jpg       EN                Sun Shield
111   P96OP4FA17.jpg       EN        Compact Relief Kit
112   P96OP4FA17.jpg       EN  Deluxe Family Relief Kit
113   P98OP4FA17.jpg       EN           Calamine Relief
114   P99OP4FA17.jpg       EN               Aloe Relief

                                           DESCRIPTION
0    Lightweight, collapsible bag to carry liquids ...
1    Spoon, fork and knife set made of a light yet ...
2    The Insect Bite Relief helps the itching and s...
3    Iron is 17-4 stainless steel.  Shafts are grap...
4    Made entirely of pure titanium. The ultimate i...
..                                                 ...
110  PABA free sunscreen, SPF 30, poison oak and iv...
111  A personal first aid kit is recommended for ev...
112  A complete medical kit suitable for families w...
113  Use the Calamine Relief for allergic skin reac...
114  Perfect for minor burns and sunburn, the aloe ...

[115 rows x 9 columns]
  PRODUCT_LINE_CODE           PRODUCT_LINE_EN
0                 1         Camping Equipment
1                 2  Mountaineering Equipment
2                 3      Personal Accessories
3                 4        Outdoor Protection
4                 5            Golf Equipment
   PRODUCT_TYPE_CODE PRODUCT_LINE_CODE       PRODUCT_TYPE_EN
0                  1                 1          Cooking Gear
1                 10                 3               Watches
2                 11                 3               Eyewear
3                 12                 3                Knives
4                 13                 3            Binoculars
5                 14                 3            Navigation
6                 15                 4     Insect Repellents

## Insert the GO Databases/CSV's to the datewarehouse

Original datasources, will be inserted into the datawarehouse.

In [24]:
#Insertion

## Read all tables

Read the tables with pandas from SQL Server.

In [25]:
product = pd.read_sql_query("SELECT * FROM product", conn)
sales_product_forecast = pd.read_sql_query("SELECT * FROM sales_product_forecast", conn)
sales_inventory_levels = pd.read_sql_query("SELECT * FROM sales_inventory_levels", conn)
sales_staff = pd.read_sql_query("SELECT * FROM sales_staff", conn)
sales_targetdata = pd.read_sql_query("SELECT * FROM sales_targetdata", conn)
course = pd.read_sql_query("SELECT * FROM course", conn)
training = pd.read_sql_query("SELECT * FROM training", conn)

satisfaction_type = pd.read_sql_query("SELECT * FROM satisfaction_type", conn)
satisfaction = pd.read_sql_query("SELECT * FROM returned_reason", conn)
returned_reason = pd.read_sql_query("SELECT * FROM returned_reason", conn)
returned_item = pd.read_sql_query("SELECT * FROM returned_item", conn)
retailer_contact = pd.read_sql_query("SELECT * FROM retailer_contact", conn)
order_method = pd.read_sql_query("SELECT * FROM order_method", conn)
# order = pd.read_sql_query("SELECT * FROM order_", conn)

## Read the new datawarehouse database

Get the values of the datewarehouse

In [26]:
#DWH data
df = retailer_contact
df

Empty DataFrame
Columns: [sales_territory_id, sales_territory_name_en, country_id, country_en, country_flag_image, country_sales_territory_code, retailer_site_code, retailer_site_address1, retailer_site_address2, retailer_site_city, retailer_site_region, retailer_site_country_code, retailer_site_active_indicator, retailer_headquarter_codenr, retailer_headquarter_name, retailer_headquarter_address1, retailer_headquarter_address2, retailer_headquarter_city, retailer_headquarter_region, retailer_headquarter_country_code, retailer_headquarter_active_indicator, retailer_type_code, retailer_type_type_en, retailer_segment_code, retailer_segment_language, retailer_segment_name, retailer_segment_description, retailer_contact_code, retailer_contact_site_code, retailer_contact_first_name, retailer_contact_last_name, retailer_contact_fax, retailer_contact_email, retailer_contact_active_indicator, retailer_contact_retailer_id, retailer_contact_retailer_codemr, retailer_contact_retailer_name, retailer_contact_retailer_type_code, retailer_contact_jobposition_en, retailer_contact_extension, retailer_contact_gender, retailer_contact_age_group_code, retailer_contact_age_group_upper, retailer_contact_age_group_lower, retailer_contact_sales_demographic_code, retailer_contact_sales_demographic_codemr, retailer_contact_sales_demographic_age_group_code, retailer_contact_sales_demographic_sales_percent]
Index: []

[0 rows x 48 columns]

In [27]:
import copy
import datetime

Creating a slowly changing dimension (assuming type 2) for every dimension in the datawarehouse

In [28]:
# Product
## Copy
product_scd = copy.deepcopy(product)

## Add columns
product_scd["Nummer_sk"] = range(len(product_scd))
product_scd["Timestamp"] = datetime.datetime.now().strftime("%d/%m/%Y, %H:%M")

## Fix index
product_scd.set_index("Nummer_sk", inplace=True)

# Sales_product_forecast
## Copy
sales_product_forecast_scd = copy.deepcopy(sales_product_forecast)

## Add columns
sales_product_forecast_scd["Nummer_sk"] = range(len(product_scd))
sales_product_forecast_scd["Timestamp"] = datetime.datetime.now().strftime("%d/%m/%Y, %H:%M")

## Fix index
sales_product_forecast_scd.set_index("Nummer_sk", inplace=True)

# Sales_inventory_levels
## Copy
sales_inventory_levels_scd = copy.deepcopy(sales_inventory_levels)

## Add columns
sales_inventory_levels_scd["Nummer_sk"] = range(len(sales_inventory_levels_scd))
sales_inventory_levels_scd["Timestamp"] = datetime.datetime.now().strftime("%d/%m/%Y, %H:%M")

## Fix index
sales_inventory_levels_scd.set_index("Nummer_sk", inplace=True)

# Sales_staff
## Copy
sales_staff_scd = copy.deepcopy(sales_staff)

## Add columns
sales_staff_scd["Nummer_sk"] = range(len(sales_staff_scd))
sales_staff_scd["Timestamp"] = datetime.datetime.now().strftime("%d/%m/%Y, %H:%M")

## Fix index
sales_staff_scd.set_index("Nummer_sk", inplace=True)

# Sales_targetdata
## Copy
sales_targetdata_scd = copy.deepcopy(sales_targetdata)

## Add columns
sales_targetdata_scd["Nummer_sk"] = range(len(sales_targetdata_scd))
sales_targetdata_scd["Timestamp"] = datetime.datetime.now().strftime("%d/%m/%Y, %H:%M")

## Fix index
sales_targetdata_scd.set_index("Nummer_sk", inplace=True)

# Course
## Copy
course_scd = copy.deepcopy(course)

## Add columns
course_scd["Nummer_sk"] = range(len(course_scd))
course_scd["Timestamp"] = datetime.datetime.now().strftime("%d/%m/%Y, %H:%M")

## Fix index
course_scd.set_index("Nummer_sk", inplace=True)

# Training
## Copy
training_scd = copy.deepcopy(training)

## Add columns
training_scd["Nummer_sk"] = range(len(training_scd))
training_scd["Timestamp"] = datetime.datetime.now().strftime("%d/%m/%Y, %H:%M")

## Fix index
training_scd.set_index("Nummer_sk", inplace=True)

# Satisfaction_type
## Copy
satisfaction_type_scd = copy.deepcopy(satisfaction_type)

## Add columns
satisfaction_type_scd["Nummer_sk"] = range(len(satisfaction_type_scd))
satisfaction_type_scd["Timestamp"] = datetime.datetime.now().strftime("%d/%m/%Y, %H:%M")

## Fix index
satisfaction_type_scd.set_index("Nummer_sk", inplace=True)

# Satisfaction
## Copy
satisfaction_scd = copy.deepcopy(satisfaction)

## Add columns
satisfaction_scd["Nummer_sk"] = range(len(satisfaction_scd))
satisfaction_scd["Timestamp"] = datetime.datetime.now().strftime("%d/%m/%Y, %H:%M")

## Fix index
satisfaction_scd.set_index("Nummer_sk", inplace=True)

# Returned_reason
## Copy
returned_reason_scd = copy.deepcopy(returned_reason)

## Add columns
returned_reason_scd["Nummer_sk"] = range(len(returned_reason_scd))
returned_reason_scd["Timestamp"] = datetime.datetime.now().strftime("%d/%m/%Y, %H:%M")

## Fix index
returned_reason_scd.set_index("Nummer_sk", inplace=True)

# Returned_item
## Copy
returned_item_scd = copy.deepcopy(returned_item)

## Add columns
returned_item_scd["Nummer_sk"] = range(len(returned_item_scd))
returned_item_scd["Timestamp"] = datetime.datetime.now().strftime("%d/%m/%Y, %H:%M")

## Fix index
returned_item_scd.set_index("Nummer_sk", inplace=True)

# Retailer_contact
## Copy
retailer_contact_scd = copy.deepcopy(retailer_contact)

## Add columns
retailer_contact_scd["Nummer_sk"] = range(len(retailer_contact_scd))
retailer_contact_scd["Timestamp"] = datetime.datetime.now().strftime("%d/%m/%Y, %H:%M")

## Fix index
retailer_contact_scd.set_index("Nummer_sk", inplace=True)

# Order_method
## Copy
order_method_scd = copy.deepcopy(order_method)

## Add columns
order_method_scd["Nummer_sk"] = range(len(order_method_scd))
order_method_scd["Timestamp"] = datetime.datetime.now().strftime("%d/%m/%Y, %H:%M")

## Fix index
order_method_scd.set_index("Nummer_sk", inplace=True)

# Order
## Copy
# order_scd = copy.deepcopy(order)

## Add columns
# order_scd["Nummer_sk"] = range(len(order_scd))
# order_scd["Timestamp"] = datetime.datetime.now().strftime("%d/%m/%Y, %H:%M")

## Fix index
# order_scd.set_index("Nummer_sk", inplace=True)

Testing the relations are still valid

In [29]:
# TODO: perform testing